<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Lisää tuote</h1>
    <form class="form-horizontal" name="addIngredient">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="ingredientName">Tuotenimi</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="ingredientName" ng-model="ingredient.name" name="name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="measure">Mittayksikkö</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="measure" ng-model="ingredient.measure" name="measure" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="calories">Kilokalorit</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" id="calories" ng-model="ingredient.calories" min="0" step="0.1" name="calories" required>
        </div>
        <div class="col-sm-4">
          <span ng-show="addIngredient.calories.$error.number" class="text-danger">Syötä arvo numerona!</span>
          <span ng-show="addIngredient.calories.$error.min" class="text-danger"> Arvon tulee olla positiivinen!</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="carbs">Hiilihydraatit</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" id="carbs" ng-model="ingredient.carbs" min="0" step="0.1" name="carbs" required>
        </div>
        <div class="col-sm-4">
          <span ng-show="addIngredient.carbs.$error.number" class="text-danger">Syötä arvo numerona!</span>
          <span ng-show="addIngredient.carbs.$error.min" class="text-danger"> Arvon tulee olla positiivinen!</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="fat">Rasva</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" id="fat" ng-model="ingredient.fat" min="0" step="0.1" name="fat" required>
        </div>
        <div class="col-sm-4">
          <span ng-show="addIngredient.fat.$error.number" class="text-danger">Syötä arvo numerona!</span>
          <span ng-show="addIngredient.fat.$error.min" class="text-danger"> Arvon tulee olla positiivinen!</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="protein">Proteiini</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" id="protein" ng-model="ingredient.proteins" min="0" step="0.1" name="protein" required>
        </div>
        <div class="col-sm-4">
          <span ng-show="addIngredient.protein.$error.number" class="text-danger">Syötä arvo numerona!</span>
          <span ng-show="addIngredient.protein.$error.min" class="text-danger"> Arvon tulee olla positiivinen!</span>
        </div>
      </div>
      <button type="submit" class="btn btn-default col-sm-offset-2 btn-info" ng-disabled="addIngredient.$invalid" ng-click="add()">Lisää tuote</button>
      <span ng-show="addIngredient.name.$invalid && addIngredient.measure.$valid" class="text-warning">Täytä tuotteen nimi!</span>
      <span ng-show="addIngredient.measure.$invalid && addIngredient.name.$valid" class="text-warning">Täytä tuotteen mittayksikkö!</span>
      <span ng-show="addIngredient.measure.$invalid && addIngredient.name.$invalid" class="text-warning">Täytä tuotteen nimi ja mittayksikkö!</span>
    </form>
  </div>
</div>
