<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Ravintoaine tietokanta</h1>
    <h2>Koosta ateria:</h2>
    <div class="col-md-6">
      <input type="text"
             ng-model="selectedIngredient" 
             uib-typeahead="(ingredient.name + ' (' + ingredient.measure + ')') for ingredient in list | filter:$viewValue | limitTo:8"
             typeahead-on-select="selectIngredient($item)"
             typeahead-show-hint="true"
             typeahead-no-results="noResults"
             placeholder="Lisää ateriaan ainesosa"
             class="form-control">
      <div ng-show="noResults">
        Lisää uusi tuote arvoilla:
        <form class="form-inline" name="addIngredient">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="measure" ng-model="newIngredient.measure" name="measure" required>
          </div>
          <div class="form-group">
              <input type="number" class="form-control" placeholder="calories" ng-model="newIngredient.calories" min="0" step="0.1" name="calories" required>
          </div>
          <div class="form-group">
              <input type="number" class="form-control" placeholder="carbs" ng-model="newIngredient.carbs" min="0" step="0.1" name="carbs" required>
          </div>
          <div class="form-group">
              <input type="number" class="form-control" placeholder="fat" ng-model="newIngredient.fat" min="0" step="0.1" name="fat" required>
          </div>
          <div class="form-group">
              <input type="number" class="form-control" placeholder="protein" ng-model="newIngredient.proteins" min="0" step="0.1" name="protein" required>
          </div>
          <button type="submit" class="btn btn-info" ng-disabled="addIngredient.$invalid" ng-click="addNewIngredient()">Lisää</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <table class="table table-hover">
        <tr>
          <th ng-click="orderBy('amount')">
            Määrä
            <span ng-show="ordering == 'amount'" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="ordering == '-amount'" class="glyphicon glyphicon-chevron-down"></span>
          </th>
          <th ng-click="orderBy('measure')">
            Mittayksikkö
            <span ng-show="ordering == 'measure'" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="ordering == '-measure'" class="glyphicon glyphicon-chevron-down"></span>
          </th>
          <th ng-click="orderBy('name')">
            Tuotenimi
            <span ng-show="ordering == 'name'" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="ordering == '-name'" class="glyphicon glyphicon-chevron-down"></span>
          </th>
          <th></th>
        </tr>
        <tr ng-repeat="ingredient in ingredients | orderBy:ordering">
          <td><input type="number" min="0" step="0.1" ng-model="ingredient.amount" ng-change="updateAmount(ingredient)"></td>
          <td>{{ ingredient.measure == '100g' ? 'g' : ingredient.measure }}</td>
          <td>{{ ingredient.name }}</td>
          <td>
            <a href="#/">
              <i class="glyphicon glyphicon-remove" ng-click="remove(ingredient)"></i>
            </a>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
