<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Lista tuotteista ja raaka-aineista</h1>
    <table class="table">
      <tr>
        <th ng-click="orderBy('name')">
          Tuotenimi
          <span ng-show="ordering == 'name'" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="ordering == '-name'" class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <th ng-click="orderBy('measure')">
          Mittayksikkö
          <span ng-show="ordering == 'measure'" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="ordering == '-measure'" class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <th ng-click="orderBy('calories')">
          Kilokalorit
          <span ng-show="ordering == 'calories'" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="ordering == '-calories'" class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <th ng-click="orderBy('carbs')">
          Hiilihydraatit
          <span ng-show="ordering == 'carbs'" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="ordering == '-carbs'" class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <th ng-click="orderBy('fat')">
          Rasva
          <span ng-show="ordering == 'fat'" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="ordering == '-fat'" class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <th ng-click="orderBy('proteins')">
          Proteiini
          <span ng-show="ordering == 'proteins'" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="ordering == '-proteins'" class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <th></th>
      </tr>
      <tr ng-repeat="ingredient in data | orderBy:ordering">
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.measure }}</td>
        <td>{{ ingredient.calories }}</td>
        <td>{{ ingredient.carbs }}</td>
        <td>{{ ingredient.fat }}</td>
        <td>{{ ingredient.proteins }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" ng-click="delete(ingredient.id)">
            Poista
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
